/* main style variables that will be used across multiple components.
   these will make up the building blocks of the overall theme.
   any variables that are tied to only one component will be defined in that specific file.
*/

// color
$bgColor: #ffffff;
$bgColorLight: #0c0b10;
$textColor: #000000;
$primary: #e40059;
// $secondary: red;
$dividerColor: black;

// font
$lineHeight: 1.6;
$fontH1: 36px;
$fontBody: 18px;
$fontFooter: 16px;

// structure
$mainWidth: 90%;
$dividerSize: 1px;
$borderRadius: 10px;
