@use 'src/styles/_lib.scss';

.mainHeader {
  font-size: lib.$fontH1;
  text-align: center;
}

// tmp. to display vivid dev message during development
.devMessage {
  font-size: 22px;
  font-weight: 600;
  color: red;
  font-style: italic;
}

.navBtn {
  all: unset;
  cursor: pointer;
  padding: 0 0.5rem;
  border: solid 2px black;
  border-radius: 100px;
  &:hover {
    transform: translateY(-2px);
  }
}

.navBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
