@use '../styles/_lib.scss';

.container {
  min-width: 180px;
  max-width: 180px;
  flex: 1;
}

.image {
  border-radius: lib.$borderRadius;
  // border: solid lib.$dividerSize lib.$dividerColor;
  // property duration timing-function(ease, ...)  delay
  transition: transform 200ms ease 0s;
  &:hover {
    transform: translateY(-4px);
  }
}

.title {
  display: block;
  text-align: center;
}
