@use '../styles/_lib.scss';

.container {
  position: relative;
  transition: transform 200ms ease 0s;
  flex: 1;
  &:hover {
    transform: translateY(-2px);
  }
}

// image size range: 120px - 200px
@media only screen and (max-width: 48em) {
  .container {
    min-width: 120px;
    max-width: 120px;
  }
}

@media only screen and (min-width: 48em) {
  .container {
    min-width: 140px;
    max-width: 140px;
  }
}

@media only screen and (min-width: 62em) {
  .container {
    min-width: 160px;
    max-width: 160px;
  }
}

@media only screen and (min-width: 80em) {
  .container {
    min-width: 180px;
    max-width: 180px;
  }
}

@media only screen and (min-width: 96em) {
  .container {
    min-width: 200px;
    max-width: 200px;
  }
}
