@use '../styles/_lib.scss';

.container {
  position: relative;
  transition: transform 200ms ease 0s;
  flex: 1;
  &:hover {
    transform: translateY(-2px);
  }
}

.animeImg {
  border: solid 1px black;
  width: '100%';
}

// image size range: 120px - 200px
@media only screen and (max-width: 48em) {
  .container {
    min-width: 120px;
    max-width: 120px;
  }

  .animeImg {
    min-height: 180px;
    max-height: 180px;
  }
}

@media only screen and (min-width: 48em) {
  .container {
    min-width: 140px;
    max-width: 140px;
  }

  .animeImg {
    min-height: 200px;
    max-height: 200px;
  }
}

@media only screen and (min-width: 62em) {
  .container {
    min-width: 160px;
    max-width: 160px;
  }

  .animeImg {
    min-height: 220px;
    max-height: 220px;
  }
}

@media only screen and (min-width: 80em) {
  .container {
    min-width: 170px;
    max-width: 170px;
  }

  .animeImg {
    min-height: 240px;
    max-height: 240px;
  }
}

@media only screen and (min-width: 96em) {
  .container {
    min-width: 180px;
    max-width: 180px;
  }

  .animeImg {
    min-height: 260px;
    max-height: 260px;
  }
}
