.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.episodeBox {
  cursor: pointer;
  flex: 1;
  transition: all 200ms ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.videoThumbnail {
  width: 100%;
  height: auto;
  max-height: 120px;
  border: solid 2px black;
  // position: relative;
}

// image size range: 120px - 200px width
@media only screen and (max-width: 48em) {
  .episodeBox {
    min-width: 120px;
    max-width: 120px;
  }
}

@media only screen and (min-width: 48em) {
  .episodeBox {
    min-width: 140px;
    max-width: 140px;
  }
}

@media only screen and (min-width: 62em) {
  .episodeBox {
    min-width: 160px;
    max-width: 160px;
  }
}

@media only screen and (min-width: 80em) {
  .episodeBox {
    min-width: 180px;
    max-width: 180px;
  }
}

@media only screen and (min-width: 96em) {
  .episodeBox {
    min-width: 200px;
    max-width: 200px;
  }
}
