@use 'src/styles/_lib.scss';

.container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  // font-size: lib.$fontBody;
}

.pill {
  border-radius: 9999px;
  border: solid 2px black;
  padding: 0 0.5rem;
  transition: all 200ms ease;
  box-shadow: 2px 2px 0 black;
  background: white;
  &:hover {
    transform: translateY(-4px);
  }
}
