@use 'src/styles/_lib.scss';

.container {
  max-width: lib.$mainWidth;
  min-height: 100vh; // is it really necessary?
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

// .banner {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 50px;
//   background-color: teal;
// }

.sidebar {
  width: 20%;
  min-width: 250px;
  padding: 2rem;
}

.main {
  width: 80%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  padding-top: 3rem;
  margin-top: auto;
}

.scrollContainer {
  overflow: hidden;
  position: relative;
}

.scrollText {
  position: absolute;
  transform: translateX(100%);
  width: 100%;
  margin: 0;
  text-align: center;
  animation: scroll-animation 30s linear infinite;
}

@keyframes scroll-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
