@use 'src/styles/_lib.scss';

.container {
  width: lib.$mainWidth;
  min-height: 100vh; // is it really necessary?
  // to center when width is not 100%
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar {
  width: 20%;
  min-width: 230px;
  padding: 2rem;
  display: block;
}

.main {
  width: auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  padding-top: 3rem;
  margin-top: auto;
}

// mobile breakpoint
@media only screen and (max-width: 30rem) {
  .container {
    width: lib.$tabletWidth;
  }

  // hide sidebar
  .sidebar {
    display: none;
  }
}

@media only screen and (min-width: 30rem) {
  .container {
    width: lib.$tabletWidth;
  }
}

@media only screen and (min-width: 60rem) {
  .container {
    width: lib.$mainWidth;
  }
}
