@use 'src/styles/_lib.scss';

.container {
  // width: lib.$mainWidth;
  min-height: 100vh; // is it really necessary?
  margin: 0 auto;
  justify-content: center;
  // border: solid 1px red;
}

.sidebar {
  width: 20%;
  min-width: 230px;
  padding: 2rem;
  display: block;
  // border: solid 1px green;
}

.main {
  width: 80%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: solid 1px blue;
}

.footer {
  padding-top: 3rem;
  margin-top: auto;
}

// mobile breakpoint
@media only screen and (max-width: 62rem) {
  .container {
    width: lib.$mobileWidth;
  }

  // hide sidebar (hide below='md')
  .sidebar {
    display: none;
  }
  // and let main takes all space
  .main {
    width: 100%;
  }
}
