@use 'src/styles/_lib.scss';

.container {
  width: 100%;
  height: lib.$navbarH;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  // make it sticky
  position: sticky;
  top: 0;
  z-index: 3;
  // todo: should follow color theme
  background: white;
}
