@use 'src/styles/_lib.scss';

$video-width: 60vw;
$video-height: auto;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player {
  width: $video-width;
  height: $video-height;
  border: solid lib.$dividerSize lib.$dividerColor;
}

@media only screen and (max-width: 30rem) {
  .player {
    width: 80vw;
  }
}
