@use 'src/styles/_lib.scss';

.searchInput {
  font-family: inherit;
  color: lib.$textColor;
  height: 2rem;
  width: 10rem;
  border: solid lib.$dividerSize lib.$dividerColor;
  border-radius: 50px;
  padding: 0 1rem;
}
